<% layout('layouts/boilerplate') %>
<div class="row mt-5">
  <div class="col-6 offset-3">
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading"><%=err.message %></h4>
      <!-- <% if (process.env.NODE_ENV !== "production") { %>
      <p><%= err.stack %></p>
      <% } %> -->
    </div>
  </div>
  <div class="text-center">
    <img src="https://res.cloudinary.com/dyoynbt7i/image/upload/v1683561350/Menu/error/pngwing.com_epcrep.png" class="img-fluid" alt="">
  </div>
</div>
