<% layout('/layouts/boilerplate') %>
<div class="row">
    <h1 class="text-center">New Shramik</h1>
    <div class="col-md-6 offset-md-3">
        <form action="/shramiks" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Name</label>
                <input class="form-control" type="text" id="title" name="shramik[title]" required>
                <div class="valid-feedback">Looks good</div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="price">Amount</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">₹</span>
                    <input type="text" class="form-control" placeholder="0.00" aria-label="price" id="price"
                        aria-describedby="price-label" name="shramik[price]" required>
                    <div class="valid-feedback">Looks good</div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="shramik[description]"
                    required></textarea>
                <div class="valid-feedback">Looks good</div>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Choose Image(s)...</label>
                <input class="form-control" type="file" name="image" id="formFileMultiple">
            </div>
            <div class="mb-3"><button class="btn btn-success">Add Shramik</button></div>
            <a href="/shramiks">ALL Shramiks</a>
        </form>
    </div>
</div>